.side-bar,
.header-main {
  height: 80vh;
}

.side-bar {
  background-color: $color-sidebar;
}

#carousel-header,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.header-carou-btn {
  position: absolute;
  bottom: 5%;
}