.side-bar,
.header-main,
.carousel-header-text {
  height: 80vh;
}

.side-bar {
  background-color: $color-sidebar;
}

#carousel-header,
#carousel-header-text,
.carousel-inner,
.carousel-item,
.carousel-caption {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.carousel-control-prev {
  position: relative;
}

.header-carou-btn .carousel-control-prev .carousel-control-prev-icon {
  position: absolute;
  bottom: 5% !important;
  border: 2px solid #fff;

}

.header-carou-btn .carousel-control-next .carousel-control-next-icon {
  position: absolute;
  bottom: 5% !important;
  border: 2px solid #fff;

}


.carousel-caption {
  width: 100%;
  bottom: 20% !important;
  z-index: 10 !important;
}